<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Todo</title>
</head>
<body>
    <div id="app">
        <h1>Todo App</h1>
        <input type="text"
            v-model="inputText"
            v-on:keyup.enter="addItem">
        <button v-on:click="fetchItems">add</button>
        <ul>
            <li v-for="(todoItem, index) in todoItems">
                {{ todoItem }}
                <button v-on:click="removeItem(todoItem, index)">remove</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                inputText: '',
                todoItems: []
            },
            methods: {
                addItem : function(event){
                    console.log(event);
                    var value = this.inputText;
                    localStorage.setItem(value, value);
                    this.inputText = '';
                    this.todoItems.push(value);
                    // axios.post('', this.inputText);
                },
                fetchItems: function() {
                    for (var i = 0; i < localStorage.length; i++){
                        var value = localStorage.key(i);
                        console.log(value);
                        console.log(this);
                        this.todoItems.push(value)
                    }
                },

                removeItem: function(todoItem, index){
                    console.log(todoItem, index);
                    this.todoItems.splice(index, 1);
                    localStorage.removeItem(todoItem);
                }

                // CRUD : 데이터 등록 조회 삭제 배포
                // JSOM.parse() API : 꺼낼 때
                // JSOM.stringify() API : 집어 넣을때
                // DOM 이란? 
                //  - HTML 정보를 자바스크립트에서 편하게 조작할 수 있게 만들어 놓은 틀
                //  - 기본 구조를 알아야 새로운 프레임워크가 나왔을 때 그 이유를 알 수 있음
                // npm : 코드량이 많아지면 효율적으로 관리하기 위해 npm을 사용
                // node.js : 원래 브라우저에서 javascript를 돌리는데, 브라우저 밖에서도 돌릴 수 있게 해줌(ex. 내 PC에 nodejs를 깔면 내 PC에서 실행 가능)
                // 추천 사이트 
                //  1. javascript, mdn
                //  2. Web Fundamentals, google developers
           
            },
            created: function(){
                this.fetchItems();
            }
        })
    </script>
</body>
</html>